.app-header{
    height:50px;
    background-color:#8800C7;
    padding:0;
    margin:0;
}
.proj-name{
    color: #FBBEDE;
    font-size:x-large;
    margin: 0px;
    padding-top:10px;
    padding-left: 10px;
}
.tabs{
    height:30px;
    background-color: #A44CD3;
}
